<div class="modal-dialog">
    <div class="modal-content">
        {{#if hasHeader}}
        <div class="modal-header">
            {{#if hasClose}}
                  <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
            {{/if}}
            <h4 class="modal-title">{{title}}</h4>
        </div>
        {{/if}}
        <div class="modal-body">
            {{content}}
        </div>
        {{#if hasBottomBtns}}
        <div class="modal-footer">
            {{#each bottomBtns}}
            <button type="button" class="btn btn-{{btnType}}" data-btnkey="{{btnkey}}">{{btnText}}</button>
            {{/each}}
        </div>
        {{/if}}
    </div>
    <div class="dialog-mask hide"></div>
</div>